<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel ="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boogie For Burgers!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src = "/assets/js/script.js"></script>
</head>
<body>
    <iframe src="https://giphy.com/embed/3oEdv5S8Th6b9gsNqM" width="380" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/laugh-dennys-diner-3oEdv5S8Th6b9gsNqM"></a></p>
    
    <div class="container">

    {{{ body }}}
    </div>
</body>
</html>